<section class="social-media">
  <div class="wrapper">
    <h3 class="social-media__title">Social Media</h3>
    <div class="social-media__box">
      <a
        href="https://www.youtube.com/@Minecraft_Prezentacje
      "
        class="social-media__link"
        target="_blank"
      >
        <img
          class="social-media__img"
          src="assets/img/yt.png"
          alt="logo youtube"
        />
      </a>
      <div class="social-media__text">
        <h4 class="social-media__text-title">YouTube</h4>
        <p class="social-media__text-p">
          Tutaj będą się pojawiać (nazwijmy to) “lekcje” oraz przedstawienia
          lektur.
        </p>
      </div>
    </div>
    <div class="social-media__box">
      <a
        href="https://www.instagram.com/minecraft_prezentacje/?igsh=MW40Z3I2cjg4Z290YQ%3D%3D"
        class="social-media__link"
        target="_blank"
      >
        <img
          class="social-media__img"
          src="assets/img/instagram.png"
          alt="logo instagrama"
        />
      </a>
      <div class="social-media__text">
        <h4 class="social-media__text-title">Instagram</h4>
        <p class="social-media__text-p">
          Na naszym Tik Toku pojawiać się będą filmy promujące nasze wideo na
          YT, a także urywki z tych filmów.
        </p>
      </div>
    </div>
    <div class="social-media__box">
      <a
        href="https://www.tiktok.com/@minecraft_prezentacje?_t=8lbDyb2NSYi&_r=1
      "
        class="social-media__link"
        target="_blank"
      >
        <img
          class="social-media__img"
          src="assets/img/tiktok.png"
          alt="logo tik toka"
        />
      </a>
      <div class="social-media__text">
        <h4 class="social-media__text-title">Tik Tok</h4>
        <p class="social-media__text-p">
          Podobnie jak na TT - video promujące i urywki z produkcji z YT.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero__img" style="background-image: url('assets/img/header.jpg')">
    <div class="hero__bg"></div>
    <div class="hero__text">
      <h3 class="hero__text-header">Nauka po przez rozrywkę</h3>
    </div>
  </div>
</section>
