<!-- <footer class="footer">
  <div class="footer__box">
    <div class="footer__brand">
      <img src="assets/img/mplogo.webp" class="footer__brand-img" alt="logo organizacji" />
    </div>
    <div class="footer__links">

    </div>
  </div>
</footer> -->
<footer class="footer">
  <div class="footer__box">
    <div class="footer__list">
      <a routerLink="/" class="footer__list-link">Strona główna</a>
      <a
        routerLink="/o-nas"
        routerLinkActive="footer__list-link-active"
        class="footer__list-link"
        >O nas</a
      >
      <a
        routerLink="/materialy"
        routerLinkActive="footer__list-link-active"
        class="footer__list-link"
        >Materiały</a
      >
      <a
        routerLink="/social-media"
        routerLinkActive="footer__list-link-active"
        class="footer__list-link"
        >Social Media</a
      >
      <!-- <a
        routerLink="/wesprzyj-nas"
        routerLinkActive="footer__list-link-active"
        class="footer__list-link"
        >Wesprzyj Nas</a
      > -->
    </div>
  </div>
  <div class="wrapper">
    <div class="footer__down">
      <div class="footer__down-links"></div>
      <div class="footer__down-year">
        <p class="footer__down-year-text">
          <span class="footer__down-year-text-copy">&copy;</span>{{ year
          }}<span class="footer__down-year-span"></span> MC Prezentacje
        </p>
      </div>
      <div class="footer__down-producent">
        <p class="footer__down-producent-text">Produced by</p>
        <a href="https://reveleq.github.io/Reveleq-studio/" target="_blank">
          <img
            src="assets/img/logo-header.jpg"
            alt="logo producenta strony"
            class="footer__down-producent-logo"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
