<section class="support-us">
  <div class="wrapper">
    <div class="support-us__box">
      <div class="support-us__left-card">
        <div
          class="support-us__left-card-img"
          style="background-image: url(assets/img/support-us.jpg)"
        >
          <div class="support-us__left-card-img-bg"></div>
        </div>
      </div>
      <div class="support-us__right-card">
        <h3 class="support-us__title">Weszpyj nas</h3>
        <div class="support-us__right-card-box">
          <img
            class="support-us__right-card-img"
            src="assets/img/mplogo.webp"
            alt="logo MC prezentacje"
          />
          <div class="support-us__right-card-text">
            <p class="support-us__right-card-text-p">
              Jak na razie jesteśmy spółką non profit, więc wpadliśmy na pomysł,
              aby założyć stronkę, na której będziecie mieli okazję nas
              wesprzeć! Pomysł się pojawił, ponieważ nie każdy z naszych
              uczestników dysponuje dobrym sprzętem do nagrywania, a dzięki
              Waszym datkom damy radę biec w przód!
            </p>
          </div>
        </div>
        <div class="support-us__right-card-box">
          <img
            class="support-us__right-card-img"
            src="assets/img/patronite.png"
            alt="logo Patronite"
          />
          <div class="support-us__right-card-text">
            <p class="support-us__right-card-text-p">
              Będziemy mogli zainwestować w lepszy sprzęt (co wpłynie na jakość
              oglądanych przez Was materiałów), a także będziemy w stanie
              zorganizować dla Was różne konkursy! Także jeżeli przemawia do was
              forma prezentowanych przez nas filmów, serdecznie zachęcamy do
              wsparcia naszego zespołu. :>
            </p>
          </div>
        </div>
        <a class="support-us__right-card-btn" href="/" target="_blank">
          Wesprzyj
        </a>
      </div>
    </div>
  </div>
</section>
