<header class="header-hero">
  <div
    class="header-hero__img"
    style="background-image: url('assets/img/header.jpg')"
  >
    <div class="header-hero__bg"></div>
    <div class="header-hero__text">
      <h1 class="header-hero__text-header">Minecraft-Prezentacje</h1>

      <button class="header-hero__text-button" [routerLink]="['/kontakt']">
        Kontakt
      </button>
    </div>
  </div>
</header>
<div class="about-us__popup">
  <div class="wrapper">
    <button class="about-us__popup-close" (click)="back()">
      <img class="about-us__popup-close-img" src="assets/img/icons/x.svg" />
    </button>
    <button
      class="about-us__popup-btn-next"
      *ngIf="id < 10"
      (click)="nextPopup()"
    >
      <img
        class="about-us__popup-btn-next-img"
        src="assets/img/icons/chevron-right.svg"
        alt="ikonka strzałki w prawo"
      />
    </button>
    <button
      class="about-us__popup-btn-back"
      *ngIf="id > 1"
      (click)="backPopup()"
    >
      <img
        class="about-us__popup-btn-back-img"
        src="assets/img/icons/chevron-left.svg"
        alt="ikonka strzałki w lewo"
      />
    </button>
  </div>
  <div class="about-us__popup-bg" (click)="back()"></div>
  <div class="about-us__popup-box">
    <img class="about-us__popup-img" src="{{ src }}" />
    <h3 class="about-us__popup-title">{{ teamData.title }}</h3>
    <p class="about-us__popup-text">{{ teamData.text }}</p>
    <!-- <div class="about-us__popup-social">
      <a
        href="{{ teamData.fb }}"
        class="about-us__popup-social-link"
        target="_blank"
        ><img
          class="about-us__popup-social-link-img"
          src="assets/img/icons/facebook.svg"
          alt="ikonka facebooka" /></a
      ><a
        href="{{ teamData.ig }}"
        class="about-us__popup-social-link"
        target="_blank"
        ><img
          class="about-us__popup-social-link-img"
          src="assets/img/icons/instagram.svg"
          alt="ikonka instagrama"
      /></a>
    </div> -->
  </div>
</div>
